body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to left, #fff, #ddd);
}

aside {
  width: 50%;
  padding: 2.5rem 3rem;
}

aside h1:first-child {
  margin-top: 0;
}

aside h1 {
  font-size: 3rem;
  font-weight: 300;
}

aside p {
  line-height: 2;
  font-size: 1.25rem;
}

main {
  display: grid;
  width: 50%;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 5px 0 20px 1px #0002, 10px 0 100px #94519b2f;
}

.cell {
  width: 100%;
}
